body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #090c15;
  color: #e2e8f0;
  font-family: "Cormorant Garamond", serif;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 0.04em;
  font-size: 20px;
  text-shadow: 2px 2px 3px #1e40af;
}

#inputs {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.input {
  text-align: center;
  border-radius: 10px;
  background-color: #14213d;
  color: #e2e8f0;
  transition: 0.5s;
  border: none;
}
.input:focus {
  border: 2px solid #1e40af;
  outline: none;
}
#calculate {
  border-radius: 10px;
  background-color: #14213d;
  color: #e2e8f0;
  border: none;
  transition: 0.5s;
}
#calculate:hover {
  border: 2px solid #1e40af;
}
#historyP {
  color: #e2e8f0;
  text-align: center;
}
.historyPar {
  color: #e2e8f0;
  text-align: center;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
