body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #121358;
    color: white;
}

#inputs {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.input {
    text-align: center;
    border-radius: 10px;
    background-color: #232f72;
    color: white;
    border: none;
    transition: 0.5s;
    border: 2px solid transparent;
}
.input:focus {
    outline: none;
    border-color: #2f578a;
}
#calculate {
    border-radius: 10px;
    background-color: #232f72;
    color: white;
    border: none;
    transition: 0.5s;
}
#calculate:hover {
    background-color: #2f578a;
}
#historyP {
    color: #36ada3;
    text-align: center;
}
.historyPar {
    color: #36ada3;
    text-align: center;
    font-weight: bold;
}
